.wrapper {
  max-width:880px;
  margin: 0 auto;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  text-decoration: none;
  background-color: #1d1f21;
  font-family: 'Cabin', 'Open Sans', 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
  
  color: #609b55;
}



a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: #475963;
  text-decoration: none;
}
a:active {
  color: #475963;
  text-decoration: none;
}

.header {
   font-size: 16pt;
   color: #4dbdae;
 }

 .header h4 {
   margin-top: 0;
   margin-bottom: 0;
 }

.main {
  text-align: left;
  text-decoration: none;
  padding-left: 80px;
}

i {
  padding: 20px;
  color: #475963;
}

h1 {
  margin-bottom: 0;
  color: #d58747;
  text-align: center;
}
h2 {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 16pt;
  color: #d58747;
}
h3 {
 font-size: 14pt;
 margin-top: 10px;
 margin-bottom: 10px;
 color: 	
}
td {
  -webkit-column-width: 190px;
  -moz-column-count: 190px;
  column-count: 190px;
  overflow: hidden;
  padding-right: 8px;
  font-size: 12.5pt;
}

h4 {
  
  text-align: center;
  padding-left: 10px;
  color: #9f6eaf;
}

h5 {
  font-size: 11pt;
  padding-left: 10px;
    
}

#green {
  color: #609b55;
}
.infos {
 text-align: left;
color: #9f6eaf;
font-size: 12.5pt;
font-weight: bold;
}

.footer {
  text-align: center;
}

}

body {
  margin-bottom: 120px;
}
